@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes

body {
  padding: 0;
  margin: 0;
}

a,
a:hover,
a:focus,
a:visited {
  text-decoration: none;
}
button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

button:focus,
button:hover,
button:visited {
  border: none;

  cursor: pointer;
}

:focus {
  outline: none;
}


@layer utilities {
    .bg-custom-gradient {
      background: linear-gradient(180deg, rgba(33, 45, 43, 0.008841036414565795) 17%, rgba(33, 45, 43, 1) 97%);
    }
}
  


.slide-entering {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.slide-entered {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.9s;
}

.slide-exiting {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Apply animations when the slide is active */
.swiper-slide-active .slide-entered {
  transition-delay: 0.9s;
}

/* Apply animations when the slide is next or previous */
.swiper-slide-next .slide-entered,
.swiper-slide-prev .slide-entered {
  transition-delay: 0.9s;
}
